.hero {
  padding-top: 0;
  position: relative;
  width: 100vw;
  height: 150vh;
}

.bg-img-parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

}

.section-bg {
  padding-top: 280px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    url('../images/hero-bg.jpg');
}

.hero__title-container {
  padding-top: 280px;
}

.hero__title {
  @include text-style-h-1;
  display: flex;
  flex-direction: column;

  & span {
    text-align: end;

    align-self: flex-end;
    width: 100%;


  }

  & div {


    width: 100%;
    height: 1px;
    background-color: $color-white;
    margin-bottom: 50px
  }
}

section {
  padding-top: 200px;
}

.section-title {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 100px;
  width: 100%;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -50px;
    left: 0;
    height: 1px;
    background-color: $color-1-1;
    opacity: 0.2;
    width: 100%;
  }
}

.section-title__square {
  width: 32px;
  height: 32px;
  background-image: linear-gradient(269deg, #ecd3ab 0%, #ead0b7 51.34%, #fefce9 100%);
}

.section-title__text {
  @include text-style-h-2;

  background: linear-gradient(269deg, #ecd3ab 0%, #a4866a 51.34%, #fefce9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about__descr-container {
  padding-left: 23%;
  margin-bottom: 100px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;

  & p {
    @include text-style-descr;
    max-width: 885px;
  }
}



.about__advantages-wrap {
  display: flex;
  width: 100%;
  gap: 50px;
  padding-left: 23%;
  margin-bottom: 50px;

  & p {
    @include text-style-text;
    max-width: 418px;
  }
}

.about__img-wrap {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-bottom: 50px;
  flex-grow: 1;
}

.img-wrap__small-img {
  width: 23%;
  overflow: hidden;

  & img {
    object-fit: cover;

  }
}

.img-wrap__text {
  width: 23%;
  height: 23vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  & p {
    @include text-style-text;

    background: linear-gradient(269deg, #ecd3ab 0%, #a4866a 51.34%, #fefce9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 4px;
      height: 1px;
      background: linear-gradient(269deg, #ecd3ab 0%, #a4866a 51.34%, #fefce9 100%);
    }
  }
}

.img-wrap__big-img {
  width: calc(100% - 46% - 100px);
  overflow: hidden;

  & img {
    object-fit: cover;
  }
}

.about__projects-descr {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  & p {
    @include text-style-text;
    max-width: 885px;
  }
}

.mission__descr-container {
  @extend .about__descr-container;
  margin-bottom: 50px;
}



.mission__img-container {
  width: 100%;
  overflow: hidden;

  & img {
    object-fit: cover;
  }

}

.team {
  padding-bottom: 200px;
}

.team__founders-cards-wrap {
  width: 100%;
  display: flex;
  gap: 50px;
  padding-left: 23%;
  position: relative;
  margin-bottom: 200px;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -50px;
    left: 23%;
    height: 1px;
    background-color: $color-1-1;
    opacity: 0.2;
    width: 77%;
  }
}

.founders-card {
  width: 651px;

  position: relative;
  overflow: hidden;

  & img {
    width: 100%;
  }
}

.founders-card__text-wrap {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.founders-card__name {
  @include text-style-descr;
  margin-bottom: 10px;
  color: $color-white;
}

.founders-card__descr {
  @include text-style-text;
  color: $color-white;
  max-width: 424px;
}

.team__members-descr {
  @extend .about__descr-container;
  margin-bottom: 50px;
}

.team__gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.member-card {
  position: relative;


}

.member-card1 {
  grid-area: 1 / 1 / 2 / 2;
}

.member-card2 {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;

  & img {
    align-self: flex-end;

  }
}

.member-card3 {
  grid-area: 1 / 3 / 2 / 4;
}

.member-card4 {
  grid-area: 1 / 4 / 2 / 5;
}

.member-card5 {
  grid-area: 2 / 1 / 3 / 2;
}

.member-card--label {
  width: 100%;
  height: 100%;
  grid-area: 2 / 2 / 3 / 3;

}

.member-card6 {
  grid-area: 2 / 3 / 3 / 4;
}

.member-card7 {
  grid-area: 2 / 4 / 3 / 5;
}

.member-card8 {
  grid-area: 3 / 1 / 4 / 2;
}

.member-card9 {
  grid-area: 3 / 2 / 4 / 3;
}

.member-card10 {
  grid-area: 3 / 4 / 4 / 5;
  display: flex;

  & img {
    align-self: flex-end;

  }
}

.member-card11 {
  grid-area: 4 / 2 / 5 / 3;
}

.member-card12 {
  grid-area: 4 / 4 / 5 / 5;
}

.member__text-wrap {
  position: absolute;
  bottom: 30px;
  left: 30px
}

.member__name {
  @extend .founders-card__name;

}

.member__position {
  @extend .founders-card__descr;
}

.filler {
  padding-top: 0;
}

.filler-bg {
  background-image: url('../images/filler.jpg');
  width: 100vw;
  height: 150vh;
}

.filler-title {
  padding-top: 200px;
  padding-bottom: 200px;
  @extend .hero__title;
  gap: 258px;

  & h2 {
    align-self: flex-start;
  }

  & h2:nth-child(2n) {
    align-self: flex-end;
  }
}

.projects {
  padding-bottom: 200px;

  & .about__advantages-wrap {
    padding-left: 50%;
  }
}

.project__img-wrap {
  margin-bottom: 20px;

}

.project__text-wrap {

  & h3 {
    @include text-style-descr;
    position: relative;
    padding-left: 31px;
    line-height: 100%;

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-70%);
      left: 0;
      height: 16px;
      width: 16px;
      background-color: $color-1-1;
    }
  }
}