.hero {
  padding-top: 0;
  position: relative;
  width: 100vw;
  height: 150vh;
  overflow: hidden;

  @include tablet {
    height: 170vh;
  }

  @include laptop {
    height: 150vh;
  }
}

.bg-img-parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.section-bg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero__title-container {
  padding-top: 246px;

  @include tablet {
    padding-top: 332px;
  }

  @include laptop {
    padding-top: 280px;
  }
}

.hero__title {
  @include text-style-h-1;
  display: flex;
  flex-direction: column;
  gap: 10px;

  & span {
    align-self: flex-end;
    text-align: end;
    background: linear-gradient(269deg, #ecd3ab 0%, #a4866a 51.34%, #fefce9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-self: flex-end;
  }

  & h1 {
    align-self: flex-start;
    background: linear-gradient(269deg, #ecd3ab 0%, #a4866a 51.34%, #fefce9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  & div {
    width: 100%;
    height: 1px;
    background: linear-gradient(269deg, #ecd3ab 0%, #a4866a 51.34%, #fefce9 100%);
    margin-bottom: 10px;

    @include tablet {
      margin-bottom: 50px;
    }
  }
}

section {
  padding-top: 80px;

  @include tablet {
    padding-top: 150px;
  }

  @include laptop {
    padding-top: 200px;
  }
}

.section-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 48px;
  width: 100%;
  position: relative;

  @include laptop {
    margin-bottom: 100px;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -24px;
    left: 0;
    height: 1px;
    background-color: $color-1-1;
    opacity: 0.2;
    width: 100%;

    @include laptop {
      bottom: -50px;
    }
  }
}

.section-title__square {
  width: 16px;
  height: 16px;
  background-image: linear-gradient(269deg, #ecd3ab 0%, #ead0b7 51.34%, #fefce9 100%);

  @include tablet {
    width: 18px;
    height: 18px;
  }

  @include laptop {
    width: 32px;
    height: 32px;
  }
}

.section-title__text {
  @include text-style-h-2;

  background: linear-gradient(269deg, #ecd3ab 0%, #a4866a 51.34%, #fefce9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about__descr-container {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;

  & p {
    @include text-style-descr;

    span {
      @include text-style-descr;

    }

    .accent {
      font-size: 20px;
      background: linear-gradient(269deg, #ecd3ab 0%, #a4866a 51.34%, #fefce9 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

  }

  @include tablet {
    & p {
      max-width: 525px;

      .accent {
        font-size: 24px;
      }
    }
  }

  @include laptop {
    margin-bottom: 100px;
    padding-left: 23%;

    & p {
      max-width: 885px;

      .accent {
        font-size: 36px;
        ;
      }

    }
  }
}

.mobile-none {
  display: none;

  @include tablet {
    display: block;
  }
}

.about__adwantages-img-container {
  display: flex;
  gap: 24px;
  width: 100%;
  flex-direction: column;

  @include laptop {
    gap: 50px;
    flex-direction: row;
  }
}

.about__adwantages-img--first {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  flex-direction: column;

  @include laptop {
    gap: 50px;
    flex-wrap: wrap;
    flex-direction: row;
    width: calc(50% - 50px / 2);
  }
}

.about__adwantages-img--second {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  flex-direction: column;

  @include laptop {
    gap: 50px;
    flex-wrap: wrap;
    flex-direction: row;
    width: calc(50% - 50px / 2);
  }
}

.about__advantage {
  @include text-style-text;
  width: 100%;

  @include laptop {
    width: calc(50% - 50px / 2);
  }
}

.img-wrap__small-img {
  flex-grow: 1;
  width: 100%;
  overflow: hidden;

  & img {
    object-fit: cover;
  }

  @include laptop {
    width: calc(50% - 25px);
    height: 21vw;
  }
}

.img-wrap__text {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @include laptop {
    width: calc(50% - 50px / 2);
    flex-grow: 1;
    height: 21vw;
  }

  & p {
    @include text-style-text;

    background: linear-gradient(269deg, #ecd3ab 0%, #a4866a 51.34%, #fefce9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 4px;
      height: 1px;
      background: linear-gradient(269deg, #ecd3ab 0%, #a4866a 51.34%, #fefce9 100%);
    }
  }
}

.img-wrap__big-img {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  @include laptop {
    height: auto;
    flex-grow: 1;
  }

  & img {
    object-fit: cover;
  }
}

.about__projects-descr {
  @include text-style-text;
  width: 100%;
}

.mission__descr-container {
  @extend .about__descr-container;
  margin-bottom: 50px;
  scale: 1;
  opacity: 1;
}

.mission__img-container {
  width: 100%;
  height: 640px;
  overflow: hidden;

  @include tablet {
    height: 1024px;
  }

  @include laptop {
    height: 80vh;
  }

  & img {
    object-fit: cover;
    height: 640px;

    @include tablet {
      height: 1024px;
    }

    @include laptop {
      height: auto;
    }
  }
}

.team {
  padding-bottom: 80px;

  @include tablet {
    padding-bottom: 150px;
  }

  @include laptop {
    padding-bottom: 200px;
  }
}

.team__founders-cards-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  margin-bottom: 50px;

  @include tablet {
    flex-direction: row;
    margin-bottom: 50px;
  }

  @include laptop {
    gap: 50px;
    padding-left: 23%;
    margin-bottom: 200px;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -24px;
    left: 0;
    height: 1px;
    background-color: $color-1-1;
    opacity: 0.2;
    width: 100%;

    @include laptop {
      bottom: -50px;
      left: 23%;
      width: 77%;
    }
  }
}

.founders-card {
  width: 100%;

  position: relative;
  overflow: hidden;
  height: calc(123vw - 32px);

  @include tablet {
    width: calc(50% - 8px);
    height: calc(61.5vw - 64px - 12px);

  }

  @include laptop {
    width: 651px;
    height: 800px;

    &:hover img {
      transform: scale(1.2) translateY(5%);

    }

    &:hover span {
      max-height: 300px;
    }

    &:hover .founders-card__mask {
      background-color: #0000005e;
    }
  }


}

.founders__img-wrap {
  position: relative;
  overflow: hidden;

  & img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;

  }




}

.founders__mask {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00)10%, #000);
  background-size: 100% 100%;

}

.founders-card__mask {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: background-color 1s ease;
}

.founders-card__text-wrap {
  position: absolute;
  bottom: 16px;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 16px;


}

.founders-card__name {

  @include text-style-descr;
  margin-bottom: 10px;
  color: $color-white;
  font-size: 24px;

  @include tablet {
    font-size: 32px;
  }

  @include laptop {
    font-size: 32px;
  }
}

.founders-card__descr {
  @include text-style-text;
  color: $color-white;


  display: flex;
  flex-direction: column;
  gap: 20px;

  & span {
    transition: max-height 1s ease;
    max-height: 0px;
    overflow: hidden;
    opacity: 0.5;
  }
}

.founders__descr--mobile {
  @include text-style-text;
  color: $color-white;
  background-color: #030303;
  height: 0px;

  p {
    padding: 16px;
    opacity: 0.5;
  }

  @include laptop {
    display: none;
  }
}

.team__members-cards-wrap {
  position: relative;
}

.team-members__bg {
  position: absolute;
  top: -10%;
  left: -5%;
  width: 110%;
  height: 130%;
  z-index: -1;
  background: $bg-color;
}

.team__members-descr {
  @extend .about__descr-container;
  margin-bottom: 50px;
}

.team__gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  width: 100%;

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  @include laptop {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }
}

.member-card {
  position: relative;

  height: calc((125vw - 32px - 16px) / 2);
  display: flex;
  align-items: flex-end;

  @include tablet {
    height: calc((125vw - 64px - 32px) / 3);

  }

  @include laptop {

    height: calc((124vw - 100px - 150px) / 4);
  }
}

.member-content__wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  img {
    object-fit: cover;
  }



}

.member-card1 {
  grid-area: 1 / 1 / 2 / 2;

  @include tablet {
    grid-area: 1 / 1 / 2 / 2;
  }

  @include laptop {
    grid-area: 1 / 1 / 2 / 2;
  }
}

.member-card2 {

  grid-area: 1 / 2 / 2 / 3;




  @include tablet {
    grid-area: 1 / 2 / 2 / 3;
  }

  @include laptop {
    grid-area: 1 / 2 / 2 / 3;
  }
}

.member-card3 {
  grid-area: 2 / 1 / 3 / 2;

  @include tablet {
    grid-area: 1 / 3 / 2 / 4;
  }

  @include laptop {
    grid-area: 1 / 3 / 2 / 4;
  }
}

.member-card4 {
  grid-area: 2 / 2 / 3 / 3;

  @include tablet {
    grid-area: 2 / 1 / 3 / 2;
  }

  @include laptop {
    grid-area: 1 / 4 / 2 / 5;
  }
}

.member-card5 {
  grid-area: 3 / 1 / 4 / 2;

  @include tablet {
    grid-area: 2 / 2 / 3 / 3;
  }

  @include laptop {
    grid-area: 2 / 1 / 3 / 2;
  }
}

.member-card--label {
  display: none;

  @include laptop {
    display: flex;
    width: 100%;
    height: 100%;
    grid-area: 2 / 2 / 3 / 3;
  }
}

.member-card6 {
  grid-area: 3 / 2 / 4 / 3;

  @include tablet {
    grid-area: 2 / 3 / 3 / 4;
  }

  @include laptop {
    grid-area: 2 / 3 / 3 / 4;
  }
}

.member-card7 {
  grid-area: 4 / 1 / 5 / 2;

  @include tablet {
    grid-area: 3 / 1 / 4 / 2;
  }

  @include laptop {
    grid-area: 2 / 4 / 3 / 5;
  }
}

.member-card8 {
  grid-area: 4 / 2 / 5 / 3;

  @include tablet {
    grid-area: 3 / 2 / 4 / 3;
  }

  @include laptop {
    grid-area: 3 / 1 / 4 / 2;
  }
}

.member-card9 {
  grid-area: 5 / 1 / 6 / 2;

  @include tablet {
    grid-area: 3 / 3 / 4 / 4;
  }

  @include laptop {
    grid-area: 3 / 2 / 4 / 3;
  }
}

.member-card10 {

  grid-area: 5 / 2 / 6 / 3;



  @include tablet {
    grid-area: 4 / 1 / 5 / 2;
  }

  @include laptop {
    grid-area: 3 / 4 / 4 / 5;
  }
}

.member-card11 {
  grid-area: 6 / 1 / 7 / 2;

  @include tablet {
    grid-area: 4 / 2 / 5 / 3;
  }

  @include laptop {
    grid-area: 4 / 2 / 5 / 3;
  }
}

.member-card12 {
  grid-area: 6 / 2 / 7 / 3;

  @include tablet {
    grid-area: 4 / 3 / 5 / 4;
  }

  @include laptop {
    grid-area: 4 / 4 / 5 / 5;
  }
}

.member__text-wrap {
  position: absolute;
  bottom: 16px;
  left: 16px;
  z-index: 2;

  @include tablet {
    grid-area: 4 / 3 / 5 / 4;
  }

  @include laptop {
    bottom: 30px;
    left: 30px;
  }
}

.member__name {
  @include text-style-team-name;
  margin-bottom: 0;

  @include laptop {
    margin-bottom: 10px;

  }
}

.member__position {
  @include text-style-team-descr;
}

.filler {
  padding-top: 0;
  position: relative;
  width: 100%;
  height: 150vh;
  overflow: hidden;

  @include tablet {
    height: 170vh;
  }

  @include laptop {
    height: 150vh;
  }
}

.filler__bg-img-parallax {
  @extend .bg-img-parallax
}

.filler-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

// .filler-bg {
//   width: 100%;
//   height: 100%;
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;

//   background-image: url('../images/filler.jpg');
// }

.filler-title {
  padding-top: 80px;
  padding-bottom: 80px;
  @extend .hero__title;
  gap: 250px;

  & h2 {
    align-self: flex-start;
  }

  & .filler__second-title {
    align-self: flex-end;
  }

  @include tablet {
    gap: 220px;
    padding-top: 150px;
    padding-bottom: 150px;
  }

  @include laptop {
    gap: 180px;
    padding-top: 150px;
    padding-bottom: 150px;
  }

  @include desktop {
    gap: 20vh;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.projects {
  padding-bottom: 50px;

  & .about__advantages-wrap {
    padding-left: 50%;
  }

  @include tablet {
    padding-bottom: 150px;
  }

  @include laptop {
    padding-bottom: 200px;
  }
}

.project__img-wrap {
  margin-bottom: 20px;
  height: 90vw;
  overflow: hidden;


  & img {
    height: 100%
  }

  @include tablet {
    height: 55vw;
  }

  @include laptop {
    height: 45vw;
  }

}

.project__text-wrap {
  & h3 {
    @include text-style-descr;
    position: relative;
    padding-left: 31px;
    line-height: 100%;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-70%);
      left: 0;
      height: 16px;
      width: 16px;
      background-color: $color-1-1;
    }
  }
}

.projects__descr-container {
  @extend .mission__descr-container;
}

.projects__advantages-wrap {
  @include text-style-text;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 24px;

  @include tablet {
    p {
      max-width: 50%;
    }
  }

  @include laptop {
    p {
      max-width: 420px;
    }
  }
}

.swiper {
  position: relative;

}

.swiper-button-gen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: $bg-color;
  position: absolute;
  z-index: 2;
  opacity: 0.6;

  transition: all 0.4s ease-in-out;
  transform: translateY(-50%);


  &:hover {
    opacity: 0.8;

  }

  @include tablet {
    width: 50px;
    height: 50px;
  }

  @include laptop {
    width: 100px;
    height: 100px;
  }
}

.swiper .swiper-button-prev {
  @extend .swiper-button-gen;
  top: 50%;
  left: 16px;

  svg {
    transform: rotate(180deg);
    width: 32%;
    height: 32%;
  }

  @include tablet {
    left: 30px;
  }

  @include laptop {
    left: 50px;
  }

  &.swiper-button-disabled {
    display: none;
  }
}

.swiper .swiper-button-next {
  @extend .swiper-button-gen;
  top: 50%;
  right: 16px;

  svg {

    width: 32%;
    height: 32%;
  }

  @include tablet {
    right: 16px;
  }

  @include laptop {
    right: 50px;
  }

  &.swiper-button-disabled {
    display: none;
  }
}

.swiper-scrollbar-wrap {
  position: relative;
  padding: 20px 0;

}

.projects .swiper .swiper-scrollbar {
  height: 4px;
  top: 10px;
  /* Округліть кути скроллбара */
  /* Задайте бажаний колір фону скроллбара */
  background-color: $color-1-3;
}

.projects .swiper .swiper-scrollbar .swiper-scrollbar-drag {
  height: 6px;

  top: -1px;
  background-image: linear-gradient(269deg,
      hsl(37, 63%, 80%) 0%,
      hsl(29, 55%, 82%) 51.34%,
      #fefce9 100%);
  /* Задайте бажаний колір полоси прокрутки */
  /* Задайте ширину полоси прокрутки */
}