header.header 
    .container.header__container 
        .header__logo-socials-wrap 
            a.logo(href="/")
                <svg xmlns="http://www.w3.org/2000/svg" width="101" height="28" viewBox="0 0 101 28" fill="none">
                    <path d="M9.79125 26.9433L0 0.550781H6.0375L12.81 20.152L19.6012 0.550781H25.6387L15.8287 26.9433H9.79125Z" fill="white"/>
                    <path d="M29.7617 26.9433V0.550781H35.4298V26.9433H29.7617Z" fill="white"/>
                    <path d="M53.6862 19.2131C53.6862 18.33 53.2418 17.6175 52.3512 17.0775C51.4605 16.5375 50.3749 16.0875 49.0924 15.7256C47.8099 15.3637 46.5349 14.9381 45.2637 14.4469C43.9943 13.9556 42.9105 13.1456 42.0143 12.0169C41.118 10.8881 40.6699 9.45938 40.6699 7.72875C40.6699 5.59313 41.5249 3.77063 43.2368 2.26313C44.9487 0.753751 47.1724 0 49.908 0C50.988 0 52.0305 0.125624 53.0374 0.376874C54.0424 0.628124 54.8693 0.9225 55.5124 1.26C56.1574 1.5975 56.7218 1.94063 57.2055 2.29125C57.6893 2.64 58.0362 2.94375 58.2462 3.2025L58.578 3.57L55.1918 7.15875C55.0437 6.98625 54.8393 6.77625 54.5749 6.52312C54.3105 6.27187 53.7555 5.93813 52.9099 5.52C52.0624 5.10375 51.1924 4.89375 50.2962 4.89375C49.2162 4.89375 48.348 5.16938 47.6918 5.7225C47.0355 6.27375 46.7074 6.94313 46.7074 7.72875C46.7074 8.61188 47.1518 9.32062 48.0424 9.855C48.9312 10.3894 50.013 10.8394 51.2824 11.2069C52.5518 11.5744 53.8287 12.0037 55.1112 12.495C56.3937 12.9862 57.483 13.7963 58.3774 14.925C59.2737 16.0538 59.7218 17.4825 59.7218 19.2131C59.7218 21.6544 58.8349 23.6494 57.063 25.1944C55.2893 26.7412 52.8443 27.5137 49.728 27.5137C48.5018 27.5137 47.313 27.3637 46.1655 27.0619C45.018 26.7619 44.073 26.4019 43.3305 25.9856C42.588 25.5694 41.9355 25.1456 41.3712 24.7163C40.8068 24.2869 40.4018 23.925 40.1562 23.6306L39.7324 23.1712L43.1374 19.785C43.3099 19.9819 43.5518 20.2369 43.8649 20.5481C44.178 20.8612 44.8737 21.2812 45.9537 21.8081C47.0337 22.335 48.1624 22.5994 49.3399 22.5994C50.7012 22.5994 51.7662 22.2806 52.533 21.6431C53.2999 21.0056 53.6843 20.1956 53.6843 19.2131H53.6862Z" fill="white"/>
                    <path d="M64.7871 26.9433V0.550781H70.4552V26.9433H64.7871Z" fill="white"/>
                    <path d="M92.6695 20.722H82.492L80.2289 26.9433H74.1914L84.5714 0.550781H90.5902L100.97 26.9433H94.9326L92.6695 20.722ZM90.7926 15.8264L87.5902 7.15828L84.3689 15.8264H90.7926Z" fill="white"/>
                </svg>
            a.header__social-link(href="https://www.instagram.com/visia.pro/?igshid=MzRlODBiNWFlZA%3D%3Dvisia.pro" target="_blank" rel= "nofollow noreferrer noopener") 
                p Instagram 
                +svg("edge_arrow") 
            a.header__social-link(href="#" target="_blank" rel= "nofollow noreferrer noopener") 
                p Facebook
                +svg("edge_arrow") 
            a.header__social-link(href="https://t.me/visia_terraprojectbot/?start" target="_blank" rel= "nofollow noreferrer noopener") 
                p Telegram
                +svg("edge_arrow") 
        .header__email-language-wrap
            a.header__mail(href="mailto:info@visia-terra.pro") info@visia-terra.pro
            .header__custom-select(data-lang-select)
                .header__language-block(data-lang-list)
                    ul.header__language-list 
                        li.header__language-item.active
                            a(href="") Ua 
                        li.header__language-item 
                            a(href="") En
                    +svg("lang-arrow") 
    .container.header__container--mobile 
        a.logo(href="/")
            <svg xmlns="http://www.w3.org/2000/svg" width="101" height="28" viewBox="0 0 101 28" fill="none">
                <path d="M9.79125 26.9433L0 0.550781H6.0375L12.81 20.152L19.6012 0.550781H25.6387L15.8287 26.9433H9.79125Z" fill="white"/>
                <path d="M29.7617 26.9433V0.550781H35.4298V26.9433H29.7617Z" fill="white"/>
                <path d="M53.6862 19.2131C53.6862 18.33 53.2418 17.6175 52.3512 17.0775C51.4605 16.5375 50.3749 16.0875 49.0924 15.7256C47.8099 15.3637 46.5349 14.9381 45.2637 14.4469C43.9943 13.9556 42.9105 13.1456 42.0143 12.0169C41.118 10.8881 40.6699 9.45938 40.6699 7.72875C40.6699 5.59313 41.5249 3.77063 43.2368 2.26313C44.9487 0.753751 47.1724 0 49.908 0C50.988 0 52.0305 0.125624 53.0374 0.376874C54.0424 0.628124 54.8693 0.9225 55.5124 1.26C56.1574 1.5975 56.7218 1.94063 57.2055 2.29125C57.6893 2.64 58.0362 2.94375 58.2462 3.2025L58.578 3.57L55.1918 7.15875C55.0437 6.98625 54.8393 6.77625 54.5749 6.52312C54.3105 6.27187 53.7555 5.93813 52.9099 5.52C52.0624 5.10375 51.1924 4.89375 50.2962 4.89375C49.2162 4.89375 48.348 5.16938 47.6918 5.7225C47.0355 6.27375 46.7074 6.94313 46.7074 7.72875C46.7074 8.61188 47.1518 9.32062 48.0424 9.855C48.9312 10.3894 50.013 10.8394 51.2824 11.2069C52.5518 11.5744 53.8287 12.0037 55.1112 12.495C56.3937 12.9862 57.483 13.7963 58.3774 14.925C59.2737 16.0538 59.7218 17.4825 59.7218 19.2131C59.7218 21.6544 58.8349 23.6494 57.063 25.1944C55.2893 26.7412 52.8443 27.5137 49.728 27.5137C48.5018 27.5137 47.313 27.3637 46.1655 27.0619C45.018 26.7619 44.073 26.4019 43.3305 25.9856C42.588 25.5694 41.9355 25.1456 41.3712 24.7163C40.8068 24.2869 40.4018 23.925 40.1562 23.6306L39.7324 23.1712L43.1374 19.785C43.3099 19.9819 43.5518 20.2369 43.8649 20.5481C44.178 20.8612 44.8737 21.2812 45.9537 21.8081C47.0337 22.335 48.1624 22.5994 49.3399 22.5994C50.7012 22.5994 51.7662 22.2806 52.533 21.6431C53.2999 21.0056 53.6843 20.1956 53.6843 19.2131H53.6862Z" fill="white"/>
                <path d="M64.7871 26.9433V0.550781H70.4552V26.9433H64.7871Z" fill="white"/>
                <path d="M92.6695 20.722H82.492L80.2289 26.9433H74.1914L84.5714 0.550781H90.5902L100.97 26.9433H94.9326L92.6695 20.722ZM90.7926 15.8264L87.5902 7.15828L84.3689 15.8264H90.7926Z" fill="white"/>
            </svg>


        .header__socials-wrap--mobile 
            .header__custom-select(data-lang-select)
                .header__language-block(data-lang-list)
                    ul.header__language-list 
                        li.header__language-item.active
                            a(href="") Ua 
                        li.header__language-item 
                            a(href="") En
                    +svg("lang-arrow") 
            a.header__social-link(href="https://t.me/visia_terraprojectbot/?start" target="_blank" rel= "nofollow noreferrer noopener")
                +svg("telegram-mobile")
            a.header__social-link(href="#" target="_blank" rel= "nofollow noreferrer noopener") 
                +svg("facebook-mobile") 
            a.header__social-link(href="https://www.instagram.com/visia.pro/?igshid=MzRlODBiNWFlZA%3D%3Dvisia.pro" target="_blank" rel= "nofollow noreferrer noopener") 
                +svg("insta-mobile") 
            a.header__mail(href="mailto:info@visia-terra.pro")
                +svg("mail-mobile") 



