header.header 
    .container.header__container 
        .header__logo-socials-wrap 
            a.header__social-link(href="https://www.instagram.com/visia.pro/?igshid=MzRlODBiNWFlZA%3D%3Dvisia.pro" target="_blank" rel= "nofollow noreferrer noopener") 
                p Instagram 
                +svg("edge_arrow") 
            a.header__social-link(href="https://www.facebook.com/people/VISIA/61552237691225/?is_tour_dismissed=true" target="_blank" rel= "nofollow noreferrer noopener") 
                p Facebook
                +svg("edge_arrow") 
            a.header__social-link(href="https://t.me/visia_terraprojectbot/?start" target="_blank" rel= "nofollow noreferrer noopener") 
                p Telegram
                +svg("edge_arrow") 
        .header__email-language-wrap
            a.header__mail(href="mailto:info@visia-terra.pro") info@visia-terra.pro
            .header__custom-select(data-lang-select)
                .header__language-block(data-lang-list)
                    ul.header__language-list
                        li.header__language-item.active
                            a(href="/").lang__link-accent Ua 
                        li.header__language-item 
                            a(href="/en").lang__link-accent En
                    +svg("lang-arrow") 
    .container.header__container--mobile 
        .header__custom-select(data-lang-select)
            .header__language-block(data-lang-list)
                ul.header__language-list 
                    li.header__language-item.active.lang__link-accent
                        a(href="/").lang__link-accent Ua 
                    li.header__language-item.lang__link-accent 
                        a(href="en").lang__link-accent En
                +svg("lang-arrow") 


        .header__socials-wrap--mobile 

            a.header__social-link(href="https://t.me/visia_terraprojectbot/?start" target="_blank" rel= "nofollow noreferrer noopener")
                +svg("telegram-mobile")
            a.header__social-link(href="https://www.facebook.com/people/VISIA/61552237691225/?is_tour_dismissed=true" target="_blank" rel= "nofollow noreferrer noopener") 
                +svg("facebook-mobile") 
            a.header__social-link(href="https://www.instagram.com/visia.pro/?igshid=MzRlODBiNWFlZA%3D%3Dvisia.pro" target="_blank" rel= "nofollow noreferrer noopener") 
                +svg("insta-mobile") 
            a.header__mail(href="mailto:info@visia-terra.pro")
                +svg("mail-mobile") 



