.footer {
}

.footer-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
  color: rgb(206, 195, 161);

  & svg {
    width: 50.486px;
    height: 13.757px;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -25px;
    left: 0;
    height: 1px;
    background-color: $color-1-1;
    opacity: 0.2;
    width: 100%;

    @include laptop {
      bottom: -50px;
    }
  }

  & .header__socials-wrap--mobile {
    display: flex;
    align-items: center;
    gap: 16px;

    @include tablet {
      display: none;
    }
  }

  .header__mail svg,
  .header__social-link svg {
    width: 32px;
    height: 32px;
  }

  @include tablet {
    & svg {
      width: 100.971px;
      height: 27.514px;
    }
  }

  @include laptop {
    margin-bottom: 100px;
  }
}

.footer__info-wrap {
  display: flex;
  justify-content: space-between;

  @include tablet {
    align-items: flex-start;
  }

  @include laptop {
    align-items: center;
  }

  .header__mail {
    display: none;

    @include tablet {
      display: block;
    }
  }
}

.footer__adress-phone-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;

  & a {
    @include text-style-text;
    color: $color-white;
  }

  .adress {
    max-width: 165px;
    background: linear-gradient(269deg, #ecd3ab 0%, #a4866a 51.34%, #fefce9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @include tablet {
    width: 45%;
  }

  @include laptop {
    gap: 100px;
    width: auto;

    .adress {
      max-width: 400px;
    }
  }

  @include desktop {
    gap: 166px;

    .adress {
      max-width: 400px;
    }
  }
}

.footer__socials {
  display: none;

  @include tablet {
    display: flex;
    flex-direction: column;
    gap: 22px;
    @include text-style-text;
    color: $color-white;
  }

  @include laptop {
    flex-direction: row;
    gap: 2vw;
  }

  @include desktop {
    flex-direction: row;
    gap: 100px;
  }
}

.dev-logo__wrap {
  display: flex;
  justify-content: flex-end;
  padding-top: 40px;
  padding-bottom: 0px;
}

.dev-logo svg {
  width: 52px;
  height: 57px;

  @include laptop {
    width: 80px;
    height: 80px;
  }
}

.phone {
  background: linear-gradient(269deg, #ecd3ab 0%, #a4866a 51.34%, #fefce9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer__phone-wrapper {
  display: flex;
  flex-direction: column;
}
