.header {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  padding-top: 16px;
  width: 100%;

  @include laptop {
    padding-top: 30px;
  }
}

.header__container {
  display: none;

  @include tablet {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// .header__logo-socials-wrap

.header__container--mobile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .logo {
    width: 50.486px;
    height: 13.757px;

    svg {
      width: 50.486px;
      height: 13.757px;
    }
  }

  & .header__socials-wrap--mobile {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .header__mail svg,
  .header__social-link svg {
    width: 32px;
    height: 32px;
    // stroke: yellow;
  }

  @include tablet {
    display: none;
  }
}

.header__logo-socials-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    width: 70%;
  }

  @include laptop {
    width: 70%;
  }
}

.logo {
  width: 100.971px;
  height: 27.514px;
}

.header__social-link {
  color: $color-white;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;

  display: flex;
  align-items: center;
  gap: 10px;

  & svg {
    width: 24px;
    height: 24px;
    position: relative;
    bottom: 0;
  }


  @include laptop {
    font-size: 18px;
  }
}

.header__mail {
  @extend .header__social-link;
}

.header__email-language-wrap {
  display: flex;
  gap: 16px;

  @include laptop {
    gap: 56px;
  }

}

.header__custom-select {
  position: relative;
  z-index: 1;
  // padding-right: 40px;
  height: 16px;
  width: 40px;

  @include tablet {
    width: 30px;
  }
}

.header__language-block {
  display: flex;
  align-items: center;
  position: absolute;

  top: 0px;
  left: 0;


  svg {
    width: 10px;
    height: 5px;
    margin-top: 5px;
    margin-left: 5px;
    align-self: flex-start;
  }
}

.header__language-list {

  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 18px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;

  a {
    color: $color-white;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    pointer-events: none;

    @include tablet {
      font-size: 16px;
    }

    @include laptop {
      font-size: 18px;
    }
  }

  .expanded & {
    max-height: 50px;

    a {
      pointer-events: all;
    }

  }
}

.lang__link-accent {
  background: linear-gradient(269deg, #ecd3ab 0%, #a4866a 51.34%, #fefce9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}